.s-artist-tag {
  /* based on .img.background .artist-tag from store.css; colors from theme */
  position: relative;
  display: inline-flex;
  align-items: center;
  background: var(--darker);
  font-size: 8pt;
  font-weight: 500;
  padding: 2px 4px 2px 8px;
  color: var(--light);
  font-family: Panton, system-ui, sans-serif;
  position: absolute; 
  bottom: 0px; left: 0px;

  &::after {
    --sidewinder: 30px;
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * var(--sidewinder) + 1px);
    width: var(--sidewinder);
    height: var(--sidewinder);
    box-sizing: border-box;
    border: solid calc(0.5 * var(--sidewinder)) var(--darker);
    border-right-color: transparent;
    border-top-color: transparent;
  }

  &__icon {
    color: var(--color-secondary);
    margin-right: 8px;
  }

  &__label {
    color: inherit;
  }

  &--no-background {
    background: transparent;
    padding: 0;

    &::after {
      display: none;
    }
  }

  /* When root is anchor */
  &[href] {
    color: inherit;
    text-decoration: none;

    &:hover {
      .s-artist-tag__label {
        text-decoration: underline;
      }
    }
  }
}
