.s-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--16 {
    width: 16px;
    height: 16px;
  }

  &--24 {
    width: 24px;
    height: 24px;
  }

  &--32 {
    width: 32px;
    height: 32px;
  }

  &--48 {
    width: 48px;
    height: 48px;
  }

  &--64 {
    width: 64px;
    height: 64px;
  }
}
