.s-gem {
  background-size: contain;
  background-repeat: no-repeat;

  &--RBN {
    background-image: url('https://cdn.pollux.gg/images/gems/RBN.png');
  }

  &--SPH {
    background-image: url('https://cdn.pollux.gg/images/gems/SPH.png');
  }

  &--JDE {
    background-image: url('https://cdn.pollux.gg/images/gems/JDE.png');
  }

  &--EVT {
    background-image: url('https://cdn.pollux.gg/images/gems/EVT.png');
  }

  &--PSM {
    background-image: url('https://cdn.pollux.gg/images/gems/PSM.png');
  }

  &--COS {
    background-image: url('https://cdn.pollux.gg/images/gems/COS.png');
  }
}
