html.theme-arsenika {
  
    /*
    --bg-contrast: var(--lightest);
  --bg-contrast-dim: #FFF;
  
  --on-tint: var(--mid);
  --on-tint-dim:   #2235;
  */
    
  /*! --on-main--strong: #FFF; */
  --on-main--bold: #FFF0CD;
  --on-main: #FFF5DE;
  --on-main--faint: #FFCEB1F7;
  --on-main--dim: #FFC499;
  --on-main--dim-mid: #4187B1;
  --on-main--inverse: #212931AB;
  
   --accent-color-light: #f0d29a;
  --accent-color: #f0a037;
  /*! --bg-contrast: #950642; */
  --accent-color-mid: #eb9347;
  --accent-color-dark: #bd773ee8;
  --accent-color-darker: #9c7250e8;
  
  --secondary-color:  #1aafdc;
  --secondary-color-light: #38c4e5;
  --secondary-color-mid: #2b7bb1;

  --secondary-color-alt:  #35d4c7;
  
    /*! --mid-main: var(--light2); */ --bg-main: #352B52; --bg-darker: #1D1F2B; --bg-darkest: #1D212BEB; --bg-opaque: #0b0c1745; /*
  --bg-inverse: var(--dark);
  
  --links: #87f;
  --links-hover: #8Af;
  --link-head: inherit;
  --link-head-hover: var(--alt-pink);
  
  
  --heading-divider-color: var(--lighter);
  
  --muted: #9999AAAA;
  
  --light-border: var(--dark);
  */ --dark-border: #2F87A95C; --code-main-color: #2288FF !important; --code-main-border:  1px solid #000 !important; 
  --code-main-bg: #322 !important;
  
  
  /*! --plx-green: #395; */
  /*! --plx-cyan: #358; */
    
  /*! --plx-yellow: #975 !important; */
   
  
  }
  
  .theme .dash-pill .sticker-pack{
    filter: brightness(1.4) ;
  }
  
  