html.theme-borealis {
  --bg-contrast: var(--lightest);
  --bg-contrast-dim: #fff;

  --on-tint: var(--mid);
  --on-tint-dim: #2235;

  --on-main--strong: rgb(63, 63, 82);
  --on-main--bold: rgb(93, 93, 126);
  --on-main: rgb(123, 123, 150);
  --on-main--faint: #668;
  --on-main--dim: #99a;
  --on-main--dim-mid: #88a;
  --on-main--inverse: #2b2b3b;

  --mid-main: var(--light);
  
  
  
  --bg-deep: #cecef2;

  
  
  --dark-dimmest: #ffffff59;

  --bg-opaque: #aac1;
  --bg-inverse: var(--dark);

  --color-primary-light: #2c8a7d;
  --color-primary: #279782;
  --color-primary-mid: #069581;
  --color-primary-dark: #066166;

  --color-secondary: #e14a66;
  --color-secondary-alt: #d7406c;

  --on-surface: #325d67;
  
  --bg-surface-alt: #e0e0ff;
  --color-tertiary: #f05684;

  --links: #87f;
  --links-hover: #8af;
  --link-head: inherit;
  --link-head-hover: var(--alt-pink);

  --heading-divider-color: var(--lighter);

  --muted: #9999aaaa;

  --light-border: var(--dark);
  --dark-border: var(--lighter);

  --code-main-color: #faa !important;
  --code-main-border: 1px solid #4253 !important;
  --code-main-bg: #42424f !important;

  --plx-green: #5a8;
  --plx-cyan: #5af;

  --plx-yellow: #ea5 !important;
    --bg-surface: #e0e3fc;
  --bg-main: #e6e9ff;
  --theme-neutral: #5e89d0;
  --dark-dim: #c4dde6;
  --dark-dimmer: #dae2f1;
  --umbra: #0d0c34;
  --luma: #4e684a;
}

.theme .dash-pill .sticker-pack {
  filter: brightness(1.4);
}
