html.theme-cecily {
  
    /*
    --bg-contrast: var(--lightest);
  --bg-contrast-dim: #FFF;
  
  --on-tint: var(--mid);
  --on-tint-dim:   #2235;
  */
    
  /*! --on-main--strong: #FFF
  */
  --on-main--bold: #FFDE;
  
  --on-main--faint: #FEDA;
  --on-main--dim: #BD9974;
  --on-main--dim-mid: #8C755ED4;
  --on-main--inverse: #213121AA;
  
   --color-primary-light: #d7f485;
  --color-primary: #ff7741;
  /*! --bg-contrast: #950642
  */
  --color-primary-mid: #f0744e;

  
  --color-secondary:  #269959;
  --color-secondary-alt:  #1F5E3A;
  
  /*! --mid-main: var(--light2)
  */
  --bg-main: #261F1E;
  --bg-darker: #2B1E1D;
  --bg-deep: #2B221DEB;
  --bg-opaque: #170b0b45;
  /*
  --bg-inverse: var(--dark);
  
  --links: #87f;
  --links-hover: #8Af;
  --link-head: inherit;
  --link-head-hover: var(--alt-pink);
  
  
  --heading-divider-color: var(--lighter);
  
  --muted: #9999AAAA;
  
  --light-border: var(--dark);
  */
  --dark-border: #8E412F5C;
  --code-main-color: #F35 !important;
  --code-main-border: 1px solid #000 !important;
  --code-main-bg: #123 !important;
  
  
  /*! --plx-green: #395
  */
  /*! --plx-cyan: #358
  */
    
  /*! --plx-yellow: #975 !important
  */
     --bg-surface: #644439;
  --bg-surface-alt: #7c4643;
  --bg-deep: #171211;
  --umbra: #231212;
  --luma: #a2e7ee;
  --on-contrast: #20332e;
    --links: #7ccf7a;
  --links-hover: #caebc5;
  --links-visited: #4a8b93;
  --theme-success: #60b10e;
  --theme-warn: #fbd233;
  --color-primary: #fa864e;
  --color-secondary: #259a60;
  --theme-info: #4549f5;
  
  }
  
  .theme .dash-pill .sticker-pack{
    filter: brightness(1.4) ;
  }
  
  