@import "./blank.css";

@import "./pollux.css";
@import "./noctix.css";
@import "./cecily.css";
@import "./australis.css";
@import "./arsenika.css";
@import "./borealis.css";
@import "./lunanuli.css";
@import "./nikoliny.css";
@import "./selenedi.css";

:root {
	--main-pink: #FF60A0;
	--alt-pink: #F69;
	--dark-pink: #E26;
	--mid-pink: #F04070;
	--darkest-pink: #B26;
	--main-purple: #A6F;
	--alt-purple: #7040F8;
	--dark-purple: #53F;
	--darkest-purple: #50D;
	--darkest: #0F0F1A;
	--darker: #1b1b2b;
	--dark: #2b2b3b;
	--pre-dark: #3b3b4F;
	--mid-dark: #4b4b6b;
	--mid: #6b6b8b;
	--mid-light: #8080A0;
	--pre-light: #8b8b9F;
	--light: #AAC;
	--lighter: #CCE;
	--lightest: #EEF;
	--rainbow: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	--plx-danger: #F02040;
	--plx-green: #31e2b4;
	--plx-dark-green: #5A8;
	--plx-yellow: #FC2;
	--plx-rose: #f79;
	--plx-salmon: #F87;
	--plx-blue: #56F;
	--plx-nsfw: var(--plx-danger);
	--shadow: #05050F25;
	--box-gutter: 24px;
	--code-main-color: #D27;
	--code-main-border: 1px solid #472541F1;
	--code-main-bg: #2c1d2f;
	--code-misty-color: cadetblue;
	--code-misty-border: 1px solid #39354a;
	--code-misty-bg: #1d1721;
	--main-font: 'Varela Round';
	--second-font: 'Nunito';
	--third-font: 'Quicksand';
	--strong-font: 'Proxima Soft';
	--display-font: 'Panton';
	--mono-font: 'Share Tech Mono', monaco, monospace;
	--select: var(--alt-purple);
	--select-bg: var(--lightest);

	/* Rarity button colors (unique to rarity icons, from legacy rarityboxes.css) */
	--rarity-default-main: #ffba3b;
	--rarity-default-fade: rgba(72, 35, 58, 0.82);
	--rarity-default-glow: #2245;
	--rarity-sticker-main: #0bab4b;
	--rarity-sticker-dim: #0bfb4b88;
	--rarity-sticker-fade: #0b103b;
	--rarity-sticker-border: #0b7b4b;
	--rarity-special-main: #fb8b3b;
	--rarity-special-dim: #f11;
	--rarity-special-fade: #ab152b;
	--rarity-craft-main: #3bd7fb;
	--rarity-craft-dim: #3134e3;
	--rarity-craft-fade: #122b77;
	--rarity-advcraft-main: #2b74ff;
	--rarity-advcraft-dim: #e33131;
	--rarity-advcraft-fade: #1f1871;
	--rarity-event-main: #ff2b98;
	--rarity-event-dim: #e33163;
	--rarity-event-fade: #201231;
	--rarity-sapphires-main: #3bd7fb;
	--rarity-sapphires-dim: #3134e3;
	--rarity-sapphires-fade: #122b77;
	--rarity-rubines-main: #fb3b3b;
	--rarity-rubines-dim: #e33134;
	--rarity-rubines-fade: #77122b;
	

}


html {

	--color-primary: var(--accent-color);
	--color-primary-mid: var(--accent-color-mid, --accent-color-strong --accent-color-dark, --accent-color-light);
	--color-primary-strong: var(--accent-color-strong, var(--accent-color-dark));
	--color-primary-dark: var(--accent-color-dark, var(--accent-color-dark));
	--color-primary-light: var(--accent-color-light, var(--accent-color));
	--color-primary-lighter: var(--accent-color-lighter, var(--accent-color-light));
	--color-primary-lightest: var(--accent-color-lightest, var(--accent-color-lighter));

	--color-secondary: var(--secondary-color);
	--color-secondary-alt: var(--secondary-color-alt);
	--color-secondary-light: var(--secondary-color-light, var(--secondary-color-alt));
	--color-secondary-mid: var(--secondary-color-mid, var(--secondary-color-alt));
	--color-secondary-strong: var(--secondary-color-strong, var(--secondary-color-alt));
	--color-secondary-dark: var(--secondary-color-dark, var(--secondary-color-alt));	
	--color-secondary-darker: var(--secondary-color-darker, var(--secondary-color-strong));	

	--color-tertiary: var(--tertiary-color, var(--color-secondary-alt));
}


