html.theme-lunanuli {
  
    /*
    --bg-contrast: var(--lightest);
  --bg-contrast-dim: #FFF;
  
  --on-tint: var(--mid);
  --on-tint-dim:   #2235;
  
  --on-main--strong: var(--mid-dark,#AAC);
  --on-main--bold: var(--mid-dark,#AAC);
  --on-main: var(--mid-light,#AAC);
  --on-main--faint: var(--light,#668);
  --on-main--dim: var(--mid-light,#99A);
  --on-main--dim-mid: var(--light,#88a);
  --on-main--inverse: var(--light,#2b2b3b);
  */
    
 
  --color-primary-light: #32b0b9;
  --color-primary: #278f97;
  --color-primary-mid: #067895;
  --color-primary-dark: #08637a;
  
  --color-secondary:  #e1a54a;
  --color-secondary-alt:  #b559d1;
    /*
  --mid-main: var(--light2);
  */ --bg-main: #1f171a;
  --bg-darker: #1d1818;
  --bg-deep: #140909;
  --bg-opaque: #10050530;
  /*
  --bg-inverse: var(--dark);
  
  --links: #87f;
  --links-hover: #8Af;
  --link-head: inherit;
  --link-head-hover: var(--alt-pink);
  
  
  --heading-divider-color: var(--lighter);
  
  --muted: #9999AAAA;
  
  --light-border: var(--dark);
  
  */ --code-main-color: #FA5 !important;
  --code-main-border:  1px solid #A023 !important;
  --code-main-bg: #151528 !important;
  --dark-border: rgba(180, 133, 86, 0.3);
    --bg-main: #1f171a;
  --bg-surface: #382e34;
  --bg-surface-alt: #4f3c42;
  
  --plx-green: #395;
  --plx-cyan: #358;
    
  --plx-yellow: #975 !important;
   
  
  }
  
  .theme .dash-pill .sticker-pack{
    filter: brightness(1.4) ;
  }