html.theme-nikoliny {
  
  --bg-contrast: var(--lightest); --bg-contrast-dim: #FFF; --on-tint: #564D91; --on-tint-dim:   #4d4d8e54;
  
--on-strong: #242533;
--on-bold: #343548;
--on-bg: #515c86;
--on-faint: #40419FD4;
--on-dim: #40419F;
--on-dim-mid: #40419FE0;
--on-inverse: #9AAFFF;

 --accent-color-light: #9fe2ce;
--accent-color: #0d97fb;
/*! --bg-contrast: #950642; */
--accent-color-mid: #4e8ad7;
--accent-color-dark: #4543ad;

--secondary-color:  #7d5fe6;
--secondary-color-alt:  #da981f;
 
--dark-dim: #BEA3D0E0;
--dark-dimmer: #ffffffbf;
--dark-dimmest: #ffffff59;


  /*! --mid-main: var(--light2); */
   --bg: #f2feff; --bg-surface: #dee2f0;--bg-surface-alt: #BCC3DB; --bg-deep: #8F8FBD; --bg-opaque: #494a911c; /*
--bg-inverse: var(--dark);

--links: #87f;
--links-hover: #8Af;
--link-head: inherit;
--link-head-hover: var(--alt-pink);



--muted: #9999AAAA;

--divider-color: var(--lighter);

*/ --dark-border: #8E412F5C;  --code-main-color: #AAF !important;
--code-main-border:  1px solid #4253 !important;;
--code-main-bg: #557 !important;


--plx-green: #5A8;
--plx-cyan: #5AF;
  
--plx-yellow: #EA5 !important;



  --tertiary-color: #f0b056;
  --on-surface: #535f8d;
  --on-contrast: #151523;
}

.theme .dash-pill .sticker-pack{
  filter: brightness(1) !important ;
}

