html.theme-pollux {
	--color-contrast: white;
	--color-contrast-inverse: #112;
	--color-contrast-dim: #FFFD;
	--text-accent: white;
	--text-accent-dim: #FFFD;
	--text-lightest: #FFF;
	--text-extra-bold: var(--lightest, #AAC);
	--text-bold: var(--lighter, #AAC);
	--text-main: var(--light, #AAC);
	--text-faint: var(--pre-light, #668);
	--text-dim: #9999AAAA;
	--text-dim-mid: var(--pre-light, #88a);
	--text-inverse: var(--dark, #2b2b3b);
	--accent-color: var(--main-pink, #f35);
	--accent-color-mid: var(--mid-pink, #F13151);
	--accent-color-strong: var(--dark-pink, #F13151);
	--accent-color-dark: var(--darkest-pink, #D05);
	--secondary-color: var(--main-purple, #95F);
	--secondary-color-alt: var(--alt-purple, #C7D);
	--tertiary-color: var(--plx-blue, rgb(85, 125, 255));
	--mid-main: var(--light2);
	--bg-main: var(--darker);
	--bg-contrast: #efefff;
	
	/*--bg-main: linear-gradient(190deg, var(--darker) 30%,var(--darkest));*/

	--bg-opaque: #2A2A3B44;
	--bg-inverse: var(--lightest, #EEF);
	--bg-card: white;
	--links: #87f;
	--links-hover: #8Af;
	--link-head: inherit;
	--link-head-hover: var(--alt-pink);
	--heading-divider-color: var(--lighter);
	--muted: #9999AAAA;
	--light-border: var(--light);
	--dark-border: #2b2b3bAA;
	--dark-dim: #27233775;
	--dark-dimmer: #0d0d1796;
	--dark-dimmest: #100c2b59;


/* EDITS */
--theme-success: #33c18b;

  --on-contrast: #3e3e7e;

  



}

